{% extends "base.html" %}

{% block title %}授業追加{% endblock title %}

{% block extrahead %}
<style>
</style>
{% endblock %}

{% block content %}
<header class="bar bar-nav">
  <h1 class="title">Title</h1>

  <div>
    <ul class="table-view" style="margin-top:50px">
      <li class="table-view-cell">
        <a class="navigate-right">
          Item 1
        </a>
      </li>
      <li class="table-view-cell">
        <a class="navigate-right">
          Item 2
        </a>
      </li>
      <li class="table-view-cell">
        <a class="navigate-right">
          Item 3
        </a>
      </li>
    </ul>
  </div>

  <nav class="bar bar-tab">
    <a class="tab-item active" href="#">
      Label
    </a>
    <a class="tab-item" href="#">
      Label
    </a>
    <a class="tab-item" href="#">
      Label
    </a>
  </nav>
</header>

<!-- javascript -->
<!-- /javascript -->

{% endblock content %}
