{% extends "base.html" %}
{% load staticfiles %}

{% block title %}+1{% endblock title %}

{% block extrahead %}
<style>
</style>
{% endblock %}

{% block content %}
<div id="header">
  <img src="{% static 'img/head.png' %}" style="width:100%;">
</div>


<div class="container" id="index">
  <form>

    <div style="text-align:center;margin-top:32px;color:#636566;">作りたい料理を選ぶ</div>
    <hr width="40px" style="margin-top:5px;color:color:#636566;height:5px;">

    <div class="row" style="margin-top:-10px;">
      {% for category in category_list %}
      <div class="col-xs-3">
        <div class="radio">
          <input type="radio" name="category" id="c_{{ category.id }}" value="{{ category.id }}" style="display:none">
          <label for="c_{{ category.id }}">
            <img width="55px" src="/static/img/{{ category.name }}.png" class="radioGroup1" style="margin-left:-15px" />
          </label>
          <div style="font-size:11px;text-align:center;margin-top:10px;">{{ category.name }}</div>
        </div>
        {% if category.name == '野菜炒め' %}
        <br>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <br>

    <div style="text-align:center;color:#636566;">食べたい味を選ぶ</div>
    <hr width="40px" style="margin-top:5px;color:color:#636566;height:5px;">

    <div class="row" style="margin-top:-10px;">
      {% for taste in taste_list %}
      <div class="col-xs-3">
        <div class="radio">
          <input type="radio" name="taste" id="t_{{ taste.id }}" value="{{ taste.id }}" style="display:none">
          <label for="t_{{ taste.id }}">
            <img width="55px" src="/static/img/{{ taste.name }}.png" class="radioGroup2" style="margin-left:-15px" />
          </label>
          <div style="font-size:11px;text-align:center;margin-top:10px;">{{ taste.name }}</div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="center-block" style="width: 256px; text-align: center; margin-top: 30px;">
      <button class="btn btn-warning" id="cook_button" style="text-align:center;" disabled>レシピを見る</button>
    </div>
  </form>

</div>


<!-- javascript -->
<script type="text/javascript"> {% include "js/index.js" %} </script>
<!-- /javascript -->

{% endblock content %}
